<!DOCTYPE html>
<html lang="en">
  <title>Peter Lane :: Java Notes</title>
  <head>
    <link rel="stylesheet" href="almond.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <header>
      <p>
      <a href="/about.html">about</a> / 
      <a href="https://letterbird.co/peterlane">contact</a> /
      <a href="/index.html">index</a>
      </p>
      <h1>Peter Lane :: Java Notes</h1>
    </header>
    <main>

      <ul>
        <li>
          <a href="https://openjdk.org">https://openjdk.org</a> - Downloads and information
          on Java.
        </li>
          <li><a href="https://netbeans.apache.org/front/main/index.html">Netbeans</a> IDE</li>
      </ul>

      <h2>Documentation</h2>

          <ul>
            <li><a href="https://docs.oracle.com/en/java/javase/23/docs/api/index.html">API</a></li> 
            <li><a href="https://docs.oracle.com/javase/specs/jls/se23/html/index.html">language specification</a></li>
            <li><a href="https://docs.oracle.com/javase/specs/jvms/se23/html/index.html">virtual machine specification</a></li>
          </ul>

          <h2>Libraries</h2>

          <p>Many libraries available through 
          <a href="https://maven.apache.org/">maven</a> 
          are listed on <a href="https://mvnrepository.com/">mvn repository</a>.

          <p>I often use the following:</p>
      
      <ul>
        <li><a href="https://commons.apache.org/">commons</a> - various utility libraries</li>
        <li><a href="https://junit.org/junit5/docs/current/api/">junit</a> - unit testing, built into Netbeans</li>
        <li><a href="https://spring.io/">Spring</a> - an important framework</li>
        <li><a href="https://weka.sourceforge.io/doc.dev/">Weka API</a> - data mining</li>
        <li><a href="https://knowm.org/open-source/xchart/">XChart</a> - graphical representations of data</li>
      </ul>

      <h2>Selected Projects</h2>

      <table>
        <thead>
          <tr>
            <th>
              Project
            </th>
            <th>
              Description
            </th>
          </tr>
          <tr>
            <td>
              <a href="https://peterlane.codeberg.page/chrest">CHREST</a>
            </td>
            <td>
              Java implementation of the <a href="http://chrest.info">CHREST</a> cognitive architecture.
              [Archived.]
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://peterlane.codeberg.page/evolving-models">Evolving Models</a>
            </td>
            <td>
              Suite of evolutionary algorithms to locate good parameter settings for cognitive models.
              [Archived.]
            </td>
          </tr>
          <tr>
            <td>
              <a href="/oolite-maps.html">Oolite Maps</a>
            </td>
            <td>
              Search and visualise the <a href="https://oolite.space/">Oolite</a>
              universe with maps and tables.
            </td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </main>
    <footer>
      (last change: 2025-01-26)
    </footer>
  </body>
</html>
