 table td { padding: 5px; }
 table pre { margin: 0; }
,  .w {
  color: #444444;
}
 .cp {
  color: #CC00A3;
}
 .cs {
  color: #CC00A3;
}
 .c,  .ch,  .cd,  .cm,  .cpf,  .c1 {
  color: #FF0000;
}
 .ge {
  font-style: italic;
}
 .ges {
  font-weight: bold;
  font-style: italic;
}
 .gs {
  font-weight: bold;
}
 .kc {
  color: #C34E00;
}
 .kd {
  color: #0000FF;
}
 .kr {
  color: #007575;
}
 .k,  .kn,  .kp,  .kt,  .kv {
  color: #0000FF;
}
 .s,  .sb,  .sc,  .dl,  .sd,  .s2,  .se,  .sh,  .si,  .sx,  .sr,  .s1,  .ss {
  color: #009C00;
}
 .sa {
  color: #0000FF;
}
 .nb,  .bp {
  color: #C34E00;
}
